<h1><a href="/">Clifton Callender</a></h1>
<p>composition, music theory, mathematics</p>
<nav><ul>
	<li><a {% if location == 'about' %}class="active" {% endif %}href="/about/">about</a></li>
	<li><a {% if location == 'composition' %}class="active" {% endif %}href="/composition/">works</a></li>
	<li><a {% if location == 'research' %}class="active" {% endif %}href="/research/">research</a></li>
	<li><a {% if location == 'teaching' %}class="active" {% endif %}href="/teaching/">teaching</a></li>
	<!--<li><a {% if location == 'blog' %}class="active" {% endif %}href="/blog/">blog</a></li>-->
</ul></nav>