<h1><a href="/">Clifton Callender</a></h1>
<!-- <p>composition, music theory, mathematics</p> -->
<h3>February 29 7:30 EST</h3>
Premiere of <i>Dear Matafele Peinam</i><br>
<a href="https://www.kathyjetnilkijiner.com/">Kathy Jet&ntilde;il-Kijener</a>, text<br>
<a href="http://www.barrettartists.com/artist.php?id=ppancella">Phyllis Pancella</a>, mezzo-soprano<br>
<a href="https://music.fsu.edu/person/alexander-jimenez">Alexander Jim&eacute;nez</a>, conductor<br>
<a href="https://www.music.fsu.edu/ensembles/orchestras">Florida State University Symphony Orchestra</a><br>
<br>
<p><a href="https://www.kathyjetnilkijiner.com/united-nations-climate-summit-opening-ceremony-my-poem-to-my-daughter/">Text of "Dear Matafele Peinam"</a><p>
<p><a href="https://wfsu.org/television/live-stream.php">Live stream</a></p>
<nav><ul>
	<li><a {% if location == 'about' %}class="active" {% endif %}href="/about/">about</a></li>
	<li><a {% if location == 'composition' %}class="active" {% endif %}href="/composition/">works</a></li>
	<li><a {% if location == 'research' %}class="active" {% endif %}href="/research/">research</a></li>
	<li><a {% if location == 'teaching' %}class="active" {% endif %}href="/teaching/">teaching</a></li>
	<!--<li><a {% if location == 'blog' %}class="active" {% endif %}href="/blog/">blog</a></li>-->
</ul></nav>